.banner{
    display: flex;
    box-sizing: border-box;
    width: 100%;
}

.saiba-mais {
    border: .5px solid #007BFF;
    background-color: #007BFF;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 20px;
    text-align: center;
    width: 150px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.saiba-mais:hover {
    background-color: #0056b3;
    color: #fff;
    text-decoration: none;
}

.sessao {
    padding: 6em 0;
    text-align: center;
    height: auto;
}

.container {
    background-color: #fff;
    padding-bottom: 50px;
    height: auto;
}
.container h2{
    font-size: 18px;
}
.box {
    background-color: #fff;
    margin: .2rem auto;
    max-width: 600px;
    padding-bottom: 10px;
    border: #c0bfbf .5px solid;
    position: relative;
    height: auto;
    min-height: 415px;
}

.box .texto{
    padding-bottom: 25px;
    font-size: 14px;
}

.prod-header {
    height: 200px;
}

.prod-1,
.prod-2,
.prod-3 {
    background-size: cover;
    background-position: center;
}

.prod-1 {
    background-image: url(../assets/logo-html.jpg);
}

.prod-2 {
    background-image: url(../assets/css-logo.jpg);
}

.prod-3 {
    background-image: url(../assets/javascript-logo.jpg);
}

.conteudo{
    background-color: #fff;
    position: relative;
    z-index: 1;
}
